<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089576024888-ttlqb8q48tsjesklp6jgvnpmg9i931es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089576024888-ttlqb8q48tsjesklp6jgvnpmg9i931es</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089576024888-degba4fukj2pnpbhnrke682fr3870d0m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrCAYMpplxqDQwyZNzNp92NL9peo9BSiM</string>
	<key>GCM_SENDER_ID</key>
	<string>1089576024888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userapp</string>
	<key>PROJECT_ID</key>
	<string>phoneauthproject-77ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthproject-77ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089576024888:ios:375e4ba1bea356b5c69fcd</string>
</dict>
</plist>